

<div class="hack-container">
    <div class="description">
        <h3>Project for Hackaton Mobile World Congress 2024</h3>
        <br>
        <p>As part of a team project for the MWC 2024 hackathon, we tackled the development of an application designed 
            for pet geolocation. My primary role revolved around <strong>backend development</strong>, where I utilized Python to orchestrate
             API calls and construct a robust RESTful API to drive our platform. Additionally, I spearheaded the implementation 
             of artificial intelligence scripts to augment the application's capabilities. While I focused on backend tasks,
            another team member assumed responsibility for frontend development.</p>
            <br>
        <h3>Technologies i used:</h3>
        <br>
        <ul>
            <li>Backend: <strong>Python</strong> </li>
            <li>Api rest to provide endpoints: <strong>Fast Api</strong> </li>
            <li>Framework of Artificial intelligence: <strong>Langchain</strong></li>
            <li>Large language model: <strong>Cohere</strong>(testing version) </li>
            <li>Source code management: <strong>GitHub</strong></li>
        </ul>
    </div>
    <div class="iphone-wrapper">
        <video #videoElement id="video"  controls autoplay class="video" >
        <source [src]="videoSrc" type="video/mp4">
        </video>
    </div>
</div>