
 .hack-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
 }
.description{
    margin-left: -10%;
    padding: 3%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

 video{
    height: 70vh;
    margin-right: 5%;
    margin-top: 10%;
    border-radius: 15px;
 }
p{
    line-height: 1.3;
    font-size: large;
    padding-right: 10%;
}
li{
    margin-left: 5%;
}


