*{
    margin:0%;
    padding:0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    height: 3rem;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header-container{
    height: 100%;
    border-bottom: 1px solid var(--underline-color); 
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    justify-content: space-around   ;
}
ul{
    list-style: none;
}
ul:hover{
    cursor: pointer;
}

li{
  font-family: 'Mifuente';

}
li.active a {
    position: relative;
  }
  
  li.active a::after {
    content: '';
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 0%;
    height: 2px; 
    background-color: #dc0965; 
    transition: width 0.3s ease; 
  }
  
li.active a:hover::after {
    width: 100%; 
  } 


  .switch {
    --input-focus: #dc0965;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
    
  }
  
  .toggle {

    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: var(--bg-colorcolor); */
    transition: 0.3s;

  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
    background-image: url('../../../assets/iconos/night.png');
    background-size: 50%;
    background-repeat: no-repeat; 
    background-position: center;

  }
  
  .toggle:checked + .slider {
    background-color: var(--input-focus);

  }
  
  .toggle:checked + .slider:before {
    background-image: url('../../../assets/iconos/sun.png');
    background-size: 50%;
    background-repeat: no-repeat; 
    background-position: center;
    transform: translateX(30px);
  }

  @media (max-width: 578px) {
    ul{
      display: none;
   }
   .header-container{
   justify-content: space-evenly;
   }
}