
<nav [style.background-color]="backgroundColor" [style.color]="fontColor">
    <div class="header-container">
        <h1 class="name">Itamar Keydar</h1>
        <ul *ngFor="let modul of modulos ">
            <li id="lista" [class.active]="activeTab === modul" ><a (click)="scrollToSection(modul)">{{modul}}</a></li>
        </ul>
        <label class="switch">
            <input class="toggle" (click)="DarkMode()" type="checkbox">
            <span class="slider"></span>
            <span class="card-side"></span>
        </label>
    </div>
</nav>
