h2{
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    width: 60%; /* Expandir el ancho */
    /* opacity: 0.7; Cambiar la opacidad */
}

.info {
    display: none;
    margin-top: 10px;
}

.card:hover .info {
    display: block; /* Mostrar texto relevante al hacer hover */
}
.about-container {
    text-align: center;
    height: 80vh;
    /* box-shadow: rgba(246, 79, 198, 0.262) 50px 50px 60px -10px;   */

}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* flex-wrap: wrap; */

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0% 5% 5% 5%;
    height: 40vh;
    width: 30%;
    padding: 20px;
    transition: width 0.5s ease;
    background-color: var(--underline-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow:  3px 5px #dc0965;
    color: var(--underline-color);
}
li{
    list-style: none;
    font-size: larger;
    margin: 4%;
    display: flex;
    justify-content: flex-start;
    height: 30%;
    width: 100%;

}
p{
    font-size: large;
}
.link-icono{
    margin-top: 3%;
 
}
ul{
    width: 100%;
}

.link-icono:hover{
   transform: scale(1.7);
   cursor: pointer;

}
@media (max-width: 578px) {
    .about-container {
        height: 100%;
        padding-top: 10%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* box-shadow: rgba(246, 79, 198, 0.262) 50px 50px 60px -10px;   */
    }
    .container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        flex-wrap: wrap;
    }
   
    .card{
        width: 50%;
        height: 20vh;
        margin-top: 5% 0% 0% 0%;
    }
    .card:hover {
        width: 90%; /* Expandir el ancho */
        height: 100%;
    }
}