<!-- <h1>IRIS TRENDS</h1>
<section>
    <ul *ngFor="let number of numbers">
        <input matInput placeholder="Input {{number}}" #inputField [hidden]="currentNumber < number"
        [(ngModel)]="keywords[number - 1]">
    </ul>

    <button mat-raised-button type="button" (click)="changeCurrentNumber()" color="primary">{{increasing ? 'Añadir Entrada' :
        'Eliminar Entrada' }}</button>

    <button mat-raised-button (click)="embedGoogleTrends()" color="primary">Enviar</button>
</section>

<section id="trends-graph"></section>

<section id="related-topics"></section>

<section id="trends-bar-chart"></section> -->
