<body>
    <main>
        <section>
            <div  class="elem el1 num1"><h1>Pokeapi</h1></div>
            <div  class="elem el2 num2"><span>2</span></div>
            <div  class="elem el3 num3"><span>{{pokemonList}}</span></div>
            <div  class="elem el4 num4"><label for="id">Num:</label><input #numInput type="number" (change)="obtenerValor()"></div>
            <div  class="elem el5 num5">
                <div class="img-div"><img src={{urlspritePokemon}} alt=""></div>
            </div>
            <div  class="elem el1 num6"><span>6</span></div>
            <div  class="elem el2 num7"><div class="img-div"><img src={{urlImagenPokemon}} alt=""></div></div>
            <div  class="elem el3 num8"><span>8</span></div>
            <div  class="elem el4 num9"><span>9</span></div>
        </section>
</main>