<div id="radial-gradient" class="home" >
    <div class="titulos">
    <div class="angry-grid">
      <div id="item-0"></div>
      <div id="item-1">
          <div class="div-span1">
            <div class="span-1"></div>
          </div>
          <div class="div-span12">
            <div class="span-12"><img class="git-icon" src="../../../assets/iconos/icons8-linkedin.svg" alt="Imagen 1"></div>
          </div>
          <div class="div-span2">
            <div class="span-2"><img class="git-icon" src="../../../assets/iconos/icons8-github.svg" alt="Imagen 2"></div>
          </div>
       
          <div class="div-span3">
            <div class="span-3">
             <img class="git-icon" src="../../../assets/iconos/3846805.png" alt="Imagen 2"> 
           </div>
          </div>
          
      </div>
      <div id="item-2">
        <h2>Web developer based in <b>Barcelona</b></h2>
      </div>
      <div id="item-3">
        <div class="hi"> 
          <h1 class="name">Hi</h1>
          <h1 class="name leter" >,</h1>
        </div>
       
        <h1 class="im-itamar">Im Itamar Keydar</h1>
      </div>
    </div>
  </div>
</div>

