<div id="radial-gradient" class="home" >
    <div class="titulos">
    <div class="angry-grid">
      <div id="item-0"></div>
      <div id="item-1">
          <div class="div-span1">
            <div class="span-1"></div>
          </div>
          <div class="div-span12">
            <div class="span-12">
              <a href="https://www.linkedin.com/in/itamar-keydar-antoni-a4970726a">
              <img class="git-icon" src="../../../assets/iconos/icons8-linkedin.svg" alt="link to linkedin">
               </a>
            </div>
          </div>
          <div class="div-span2">
            <div class="span-2">
              <a href="https://www.github.com/KeydarItamar/">
              <img class="git-icon" src="../../../assets/iconos/icons8-github.svg" alt="link to Github">
            </a>
            </div>
          </div>
       
          <div class="div-span3">
            <div class="span-3" (click)="descargarDocumento()">
             <img class="git-icon" src="../../../assets/iconos/perfil-personal - copia.png" alt="Download cv">
             <p class="cv">Cv</p> 
           </div>
          </div>
          
      </div>
      <div id="item-2">
        <h2>Web developer based in <b>Barcelona</b></h2>
        <h5>If you can imagine, we can do it</h5>
      </div>
      <div id="item-3">
        <div class="hi"> 
          <h1 class="name">Hi</h1>
          <h1 class="name leter" >,</h1>
        </div>
       
        <h1 class="im-itamar">I'm Itamar Keydar</h1>
      </div>
    </div>
  </div>
</div>
