
<div class="ia-container">
<h2>Chat with me!</h2>
<div class="body-ia">
    <div class="imagen"><img class="imagen" src="../../../assets/unnamed (1).png" alt=""></div>
    <div class="chatbox-container">
        <div class="response-container">
            <ul *ngFor="let respuesta of respuestas let i= index " >
                <li *ngIf=respuestas>
                    <h4>User promtp</h4>
                    <p>{{listaQuerys[i]}}</p>
                    <h4>Ia response</h4>
                    <p>{{respuestas[i]}} {{i}}</p>
                </li>
            </ul>
        </div>
        <input  type="text" id="query" name="query" 
        placeholder="introduce algo.."
        #queryInput
        (keyup.enter)="iaChat(queryInput.value); queryInput.value = '' "
        style="height: 3rem; width: 100%;">

    </div>
<div>

</div>
