
<main>
    <div class="icono-Itic" >
        <img class="icono-Itic" src="../../../assets/imagenes/yop.png" alt="This is me!">
        <p></p>
    </div>
    <div class="chatbox-container">
        <div class="response-container">
            <div class="cabecera-chat" *ngIf="!listaQuerys[0]">
                <h3 >This is an AI trained with my data, so feel free to ask!</h3>
            </div>
            <ul *ngFor="let query of listaQuerys let i= index " >
                <li *ngIf=respuestas>
                    <h4>User promtp</h4>
                    <p>{{listaQuerys[i]}}</p>
                    <h4>Ia response</h4>
                    <p *ngIf="!respuestas[i]">Waiting for server...</p>
                 <div class="query" [innerHTML]="respuestas[i]" style="white-space: pre-line"></div>
                </li>
            </ul>
        </div>
        
        <input  type="text" id="query" name="query" 
        placeholder=" Ask me something..."
        #queryInput
        (keyup.enter)="iaChat(queryInput.value); queryInput.value = '' "
        style="height: 3rem; width: 100%;">
    </div>
</main>