<main>
  
  <div class="buscador">
    <div class="description">
      <h2>Api rest of Cryptocurrency made it with Java Spring</h2>
      <br>
      <p>Simple api rest where you can find a little information about Crypto.</p>
    </div>
    <div class="techno">
      <h3>Technologies used:</h3>
      <ul>
        <li>Java Spring whith Eclipse IDE</li>
        <li>Postgress Sql as data base</li>
        <li>This website to show it whith Angular</li>
      </ul>
  </div>
  <div class="input-box">
    <label for="text">Search for a Crypto</label>
    <input type="text" id="text" name="text" placeholder="Write something..." (change)="searchCrypto(  )">
  </div>
  </div>

    <div class="cards" *ngIf="!resultadoExiste" >
            <div class="card" *ngFor="let cripto of Criptomonedas">
              <h5 class="card-title">{{cripto.nombre}}</h5>
              <p class="card-text">{{cripto.precio}}$</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Market cap : {{cripto.cap_mercado}}</a>
              <a href="#" class="card-link"> Volumen: {{cripto.volumen_24h}}</a>
            </div>
    </div>
    <div class="cards" *ngIf="resultadoExiste" >
      <div class="card" *ngFor="let cripto of resultados">
        <h5 class="card-title">{{cripto.nombre}}</h5>
        <p class="card-text">{{cripto.precio}}$</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Market cap : {{cripto.cap_mercado}}</a>
        <a href="#" class="card-link"> Volumen: {{cripto.volumen_24h}}</a>
      </div>
</div>
</main>